{% extends 'layout.html' %}

{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="http://localhost:3300/socket.io/socket.io.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<style type="text/css">
  .google-visualization-table-td {
	text-align: center;}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Aerogenerador 1 - Comuna 1</div>
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li role="presentation" name="liCT" id="liCT"><a name="tabtec" id="tabtec">Carac. Tecnicas</a></li>
					<li role="presentation" name="liTR" id="liTR"><a name="tabtr" id="tabtr">Tiempo Real</a></li>
					<li role="presentation" name="liH" id="liH"><a name="tabh" id="tabh">Historicos</a></li>
				</ul> 
				<div id="data">

				</div>
			</div>
		</div>	
	</div>
</div>

<script>
	$(document).ready(function(){

		$("#tabtec").click(function(){
			$("#liCT").addClass("active");
			$("#liTR").removeClass("active");
			$("#liH").removeClass("active");
			alert("Caracteristicas del Aerogenerador");
		});

		$("#tabtr").click(function(){
			$("#liTR").addClass("active");
			$("#liCT").removeClass("active");
			$("#liH").removeClass("active");
			$.ajax({
		  		url: "/getDataTR2",
		  		type: "GET",
		  		success: function(data) {
		  			$("#data").replaceWith(data);
		  		}
	  		});

		});

		$("#tabh").click(function(){
			$("#liH").addClass("active");
			$("#liTR").removeClass("active");
			$("#liCT").removeClass("active");
			alert("Registro de historicos");
		});

	});

</script>

{% endblock %}