<script src="https://code.highcharts.com/modules/windbarb.js"></script>

{% for grafico in graficos %}
<div class="row">		
	<div class="col-md-12 col-md-offset-0">
		<div class="panel panel-primary">
			<div class="panel-heading">{{grafico['titulo']}} <a class="pull-right glyphicon glyphicon-triangle-bottom" data-toggle="collapse" href="#{{grafico['collapse']}}"></a></div>
			<div id="{{grafico['collapse']}}" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="col-md-12 col-md-offset-0">
						<div id="{{grafico['id']}}" style="min-width: 300px; max-width: 800px; height: 300px; margin: 0 auto"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	var grafico1 = Highcharts.chart('{{grafico['id']}}', {{JSON.stringify(grafico['grafico'])}},);

</script>

{% endfor %}