</br>
<div class="row">		
	<div class="col-md-12 col-md-offset-0">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Registro de eventos  <a class="pull-right glyphicon glyphicon-triangle-bottom" data-toggle="collapse" href="#collapseEvent"></a></h3>
			</div>
			<div id="collapseEvent" class="panel-collapse collapse in">
				<div class="panel-body">

					<div class="col-md-12 col-md-offset-0">
						<div class="panel-heading clearfix"><strong>Periodo de muestreo</strong><hr></div>
						<form class="form-inline" id="formH" method="post">
							<div class="col-md-12">
								<div class="form-group">
									<label for="fechaI" class="control-label">Inicio</label>
										<input type="date" class="form-control" id="fechaI" name="fechaI">
			  					</div>
			  					<div class="form-group">
									<label for="fechaF" class="control-label" >Final</label>
										<input type="date" class="form-control" id="fechaF" name="fechaF">
			  					</div>
			  					<div class="form-group">
									<label for="media" class="control-label">Ultimos</label>
									<input type="number" class="form-control" id="limit" name="limit">
			  					</div>
				  				<hr>
			  					<div class="col-md-12 col-md-offset-3">
		  							<div class="form-group">
	                  					<div class="col-md-6 col-md-offset-4 vertical-offset">
	                    					<button type="button" id="submit" class="btn btn-primary" onclick="sendForm()">
	                        					<i class="fa fa-btn fa-sign-in"></i> Mostrar
	                        				</button>
	                    				</div>
	                				</div>
		  						</div>
		  					</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="tableEvent"></div>

<script>
	
function sendForm() {


}

</script>