body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: "Open Sans",sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  background-color: #f4f4f4;
}
.mayuscula{
	text-transform: capitalize;
}
.gris{
	background-color: #323232;
}
/*Para el nav superior*/
ul.nav > li > a{
	font-family: Raleway;
}
/*Para las opciones de ingreso y registro de usuarios / nombre de usuario logueado*/
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.dropdown-menu > li > a{
	background-image: none;
	color: #FFF;
	font-family: Raleway,sans-serif;
	font-size: 1.5rem;
	font-style: normal;
}
.dropdown-menu > li > a:hover{
	background-color: #29b57c;
	background-image: none;
	color: #FFF;
}
.btn-group > ul > li > a{
	color: #323232;
}
.gris-claro{
	background-color: #f4f4f4;
}
.table > thead > tr > th{
	font-family: "Open Sans",sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.table > tbody > tr > td{
	font-family: Raleway;
	font-style: italic;
}
.font-open-sans{
	font-family: "Open Sans",sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-weight: bold;
}
.modal-header > h4{
	font-family: Raleway;
	font-style: italic;
	font-weight: bold;
}
.panel-heading{
	font-weight: bold;
	font-family: "Open Sans",sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
/*Pestañas de datos de dispositivos (caract. técnicas, tiempo real, ...)*/
.panel-mai-header{
	background-color: #2cc185;
	margin: 0;
	width: 100%;
}
.mai-sub-header{
    background-color: #2cc185;
    border-style: none;
    font-weight: bold;
	font-family: "Open Sans",sans-serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #2cc185;
}
.nav-tabs > li > a, .nav-tabs > li.active > a:focus, .nav-tabs{
	color: #000;
}